Repository ashesh-0/Disentangle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, jupyter-nb-clear-output

isort:
  name: isort
  description: Sorting imports.
  entry: isort
  language: python

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

making channel specific training
  disentangle/loss/discriminator_loss.py
  disentangle/loss/ssl_with_discriminator.py
  disentangle/notebooks/SSL_mnist_discriminator.ipynb
Due: isort, jupyter-nb-clear-output

SSL mnist notebook done
  disentangle/notebooks/SSL_mnist_discriminator.ipynb
Due: jupyter-nb-clear-output

updating the coverage
  disentangle/notebooks/CoveragePlotWithAugmentation.ipynb
  disentangle/notebooks/SSL_mnist_discriminator.ipynb
Due: jupyter-nb-clear-output

coverage plot with augmentation
  disentangle/analysis/poserior_sampling_predictor.py
  disentangle/notebooks/CoveragePlotWithAugmentation.ipynb
Due: isort, jupyter-nb-clear-output

ssl mnist data
  disentangle/analysis/poserior_sampling_predictor.py
  disentangle/configs/mnist_config.py
  disentangle/loss/discriminator_loss.py
  disentangle/notebooks/CoveragePlotWithAugmentation_1.ipynb
  disentangle/notebooks/SSL_mnist_discriminator_1.ipynb
Due: isort, jupyter-nb-clear-output

raw dloader
  disentangle/configs/multitiffsamesizedset_config.py
  disentangle/core/data_type.py
  disentangle/data_loader/multitiffsamesized_raw_dloader.py
  disentangle/data_loader/train_val_data.py
  disentangle/notebooks/HHMI25_visualization.ipynb
  disentangle/training.py
Due: isort, jupyter-nb-clear-output

raw dloader
  disentangle/notebooks/HHMI25_visualization.ipynb
Due: jupyter-nb-clear-output

HHMI dataset now working
  disentangle/configs/multitiffsamesizedset_config.py
  disentangle/data_loader/ht_iba1_ki67_dloader.py
  disentangle/data_loader/train_val_data.py
  disentangle/nets/noise_model.py
  disentangle/notebooks/EvalNoiseModel.ipynb
  disentangle/notebooks/HHMI25_visualization.ipynb
  disentangle/training.py
Due: isort, jupyter-nb-clear-output

notebook update
  disentangle/configs/multitiffsamesizedset_config.py
  disentangle/notebooks/EvalOnWholeFrames.ipynb
Due: isort, jupyter-nb-clear-output

added the option to not do backward()
  disentangle/configs/mnist_config.py
  disentangle/loss/discriminator_loss.py
  disentangle/loss/ssl_with_discriminator.py
  disentangle/notebooks/SSL_mnist_discriminator.ipynb
Due: isort, jupyter-nb-clear-output

ssl discriminator
  disentangle/configs/mnist_config.py
  disentangle/loss/ssl_with_discriminator.py
  disentangle/notebooks/SSL_mnist_discriminator.ipynb
  disentangle/notebooks/SSL_mnist_discriminator_1.ipynb
Due: isort, jupyter-nb-clear-output

vae based training
  disentangle/core/stochastic.py
  disentangle/nets/lvae_layers.py
  disentangle/notebooks/mnist_VAE_training.ipynb
Due: isort, jupyter-nb-clear-output

latent discrimination setup now working in code. it remains to be seen if it will work in practice or not
  disentangle/loss/discriminator_loss.py
  disentangle/loss/ssl_with_discriminator.py
  disentangle/nets/discriminator.py
  disentangle/nets/vae_compressor.py
  disentangle/notebooks/SSL_mnist_discriminator.ipynb
  disentangle/notebooks/mnist_VAE_training.ipynb
Due: isort, jupyter-nb-clear-output

evaluate notebook nomenclature updated
  disentangle/notebooks/evaluate_notebook.py
Due: isort

input vs input
  disentangle/loss/discriminator_loss.py
  disentangle/loss/ssl_with_discriminator.py
  disentangle/notebooks/SSL_mnist_discriminator_1.ipynb
Due: isort, jupyter-nb-clear-output

disabled stochasticity in the main network
  disentangle/configs/mnist_config.py
  disentangle/loss/ssl_with_discriminator.py
  disentangle/notebooks/SSL_mnist_discriminator.ipynb
Due: isort, jupyter-nb-clear-output

fixed time tag flag
  disentangle/notebooks/SSL_mnist_discriminator_1.ipynb
  disentangle/notebooks/evaluate_notebook.py
Due: isort, jupyter-nb-clear-output

eval on whole frames
  disentangle/notebooks/EvalOnWholeFrames.ipynb
  disentangle/notebooks/HHMI25_visualization.ipynb
Due: jupyter-nb-clear-output

inp vs real inp
  disentangle/loss/discriminator_loss.py
  disentangle/loss/ssl_with_discriminator.py
  disentangle/notebooks/SSL_mnist_discriminator.ipynb
  disentangle/notebooks/SSL_mnist_discriminator_1.ipynb
Due: isort, jupyter-nb-clear-output

different weights for discriminator and generator
  disentangle/loss/discriminator_loss.py
  disentangle/nets/discriminator.py
  disentangle/notebooks/SSL_mnist_discriminator.ipynb
  disentangle/notebooks/SSL_mnist_discriminator_1.ipynb
Due: isort, jupyter-nb-clear-output

discriminator loss
  disentangle/loss/discriminator_loss.py
Due: isort

ssl mnist
  disentangle/notebooks/SSL_mnist_discriminator.ipynb
  disentangle/notebooks/SSL_mnist_discriminator_1.ipynb
Due: jupyter-nb-clear-output

vae training now working
  disentangle/loss/discriminator_loss.py
  disentangle/loss/ssl_with_discriminator.py
  disentangle/nets/lvae.py
  disentangle/nets/vae_compressor.py
  disentangle/notebooks/SSL_mnist_discriminator.ipynb
  disentangle/notebooks/SSL_mnist_discriminator_1.ipynb
  disentangle/notebooks/mnist_VAE_training.ipynb
Due: isort, jupyter-nb-clear-output

hhmi dataset now working with 3D
  disentangle/configs/multitiffsamesizedset_config.py
  disentangle/data_loader/multitiffsamesized_raw_dloader.py
  disentangle/notebooks/HHMI25_visualization.ipynb
  disentangle/training.py
Due: isort, jupyter-nb-clear-output

update evaluate
  disentangle/scripts/evaluate.py
Due: isort

HHMI
  disentangle/configs/multitiffsamesizedset_config.py
  disentangle/notebooks/EvalOnWholeFrames.ipynb
  disentangle/notebooks/HHMI25_visualization.ipynb
  disentangle/notebooks/HHMI_datacreation.ipynb
Due: isort, jupyter-nb-clear-output

mnist dset
  disentangle/analysis/poserior_sampling_predictor.py
  disentangle/configs/mnist_config.py
  disentangle/data_loader/mnist_dset.py
  disentangle/notebooks/SSL_mnist_discriminator.ipynb
Due: isort, jupyter-nb-clear-output

evaluate.py
  disentangle/scripts/evaluate.py
Due: isort

print update
  disentangle/data_loader/multitiffsamesized_raw_dloader.py
  disentangle/notebooks/EvalOnWholeFrames.ipynb
  disentangle/scripts/evaluate.py
Due: isort, jupyter-nb-clear-output

config update
  disentangle/configs/mnist_config.py
  disentangle/notebooks/SSL_mnist_discriminator_1.ipynb
Due: isort, jupyter-nb-clear-output

added supervised loss
  disentangle/analysis/ssl_plots.py
  disentangle/loss/ssl_with_discriminator.py
  disentangle/notebooks/SSL_mnist_discriminator.ipynb
Due: isort, jupyter-nb-clear-output

dense discriminator
  disentangle/loss/discriminator_loss.py
  disentangle/loss/ssl_with_discriminator.py
  disentangle/nets/discriminator.py
  disentangle/nets/lvae.py
  disentangle/nets/vae_compressor.py
  disentangle/notebooks/SSL_mnist_discriminator.ipynb
  disentangle/notebooks/SSL_mnist_testing_classification_power_of_discriminator.ipynb
  disentangle/notebooks/mnist_VAE_training.ipynb
Due: isort, jupyter-nb-clear-output

minor updates
  disentangle/loss/ssl_with_discriminator.py
  disentangle/nets/vae_compressor.py
  disentangle/notebooks/SSL_mnist_discriminator.ipynb
  disentangle/notebooks/mnist_VAE_training.ipynb
Due: isort, jupyter-nb-clear-output

ssl exp
  disentangle/notebooks/SSL_mnist_discriminator_1.ipynb
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
Due: jupyter-nb-clear-output

ssl
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
Due: jupyter-nb-clear-output

ssl
  disentangle/data_loader/dset_preloaded_data.py
  disentangle/loss/ssl_finetuning.py
  disentangle/nets/lvae.py
  disentangle/notebooks/SelfSupervisionExperiment_1.ipynb
Due: isort, jupyter-nb-clear-output

ssl
  disentangle/loss/ssl_finetuning.py
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
  disentangle/notebooks/SelfSupervisionExperiment_1.ipynb
Due: isort, jupyter-nb-clear-output

feature extractor
  disentangle/nets/lvae.py
  disentangle/scripts/feature_extractor.py
Due: isort

feature extractor done
  disentangle/scripts/feature_extractor.py
Due: isort

feature extraction fixed
  disentangle/loss/ood_metrics.py
  disentangle/scripts/feature_extractor.py
  disentangle/scripts/ood_evaluator.py
Due: isort

Path conditions:
  isort: any of: \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
