Repository ashesh-0/Disentangle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, jupyter-nb-clear-output

isort:
  name: isort
  description: Sorting imports.
  entry: isort
  language: python

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

feature extraction fixed
  disentangle/scripts/feature_extractor.py
Due: isort

multitiff dloader
  disentangle/core/data_type.py
  disentangle/data_loader/multitiffsamesized_raw_dloader.py
  disentangle/data_loader/train_val_data.py
  disentangle/training.py
Due: isort

handling the test data
  disentangle/data_loader/multitiffsamesized_raw_dloader.py
  disentangle/scripts/feature_extractor.py
Due: isort

OOD generation data done
  disentangle/notebooks/OOD_generation.ipynb
Due: jupyter-nb-clear-output

feature extractor
  disentangle/scripts/feature_extractor.py
Due: isort

code working now
  disentangle/loss/ood_metrics.py
  disentangle/scripts/ood_evaluator.py
Due: isort

n2v based setup now working
  disentangle/loss/ssl_with_discriminator_n2v.py
  disentangle/notebooks/SSL_mnist_discriminator_n2v.ipynb
  installation.sh
Due: isort, jupyter-nb-clear-output

renamed
  disentangle/notebooks/OOD_syntheticdata_generation.ipynb
Due: jupyter-nb-clear-output

renamings
  disentangle/notebooks/OOD_evaluation.ipynb
  disentangle/scripts/feature_extractor_for_ood.py
  disentangle/scripts/ood_evaluator.py
Due: isort, jupyter-nb-clear-output

feature extractor
  disentangle/notebooks/OOD_evaluation.ipynb
  disentangle/scripts/feature_extractor_for_ood.py
Due: isort, jupyter-nb-clear-output

OOD evaluation
  disentangle/loss/ood_metrics.py
  disentangle/notebooks/OOD_evaluation.ipynb
Due: isort, jupyter-nb-clear-output

notebook update
  disentangle/notebooks/EvalOnWholeFrames.ipynb
  disentangle/notebooks/naturemethods/nicola_other_noise_level_evaluations.ipynb
Due: jupyter-nb-clear-output

feature extraction
  disentangle/scripts/feature_extractor_for_ood.py
Due: isort

ood detection
  disentangle/analysis/ood_detector.py
  disentangle/loss/ssl_finetuning.py
  disentangle/notebooks/OOD_evaluation.ipynb
  disentangle/scripts/feature_extractor_for_ood.py
Due: isort, jupyter-nb-clear-output

import fix
  disentangle/loss/ssl_finetuning.py
Due: isort

splitting notebook
  disentangle/notebooks/naturemethods/three_splitting_V2.ipynb
  disentangle/notebooks/naturemethods/two_splitting_V2.ipynb
  disentangle/scripts/evaluate.py
Due: isort, jupyter-nb-clear-output

hhmi
  disentangle/analysis/plot_utils.py
  disentangle/notebooks/naturemethods/hhmi_eval.ipynb
Due: isort, jupyter-nb-clear-output

svd_A
  disentangle/notebooks/svd_A.ipynb
Due: jupyter-nb-clear-output

HHMI evaluation
  disentangle/notebooks/naturemethods/hhmi_eval.ipynb
Due: jupyter-nb-clear-output

config updates, assert fixed
  disentangle/configs/care3D_config.py
  disentangle/configs/expansion_micro_config.py
  disentangle/core/stochastic.py
Due: isort

config update
  disentangle/configs/expansion_micro_V1_config.py
Due: isort

config update
  disentangle/configs/multitiffsamesizedset_config.py
Due: isort

coversge plot updates
  disentangle/core/deepinv_superposition.py
  disentangle/loss/ssl_finetuning.py
  disentangle/notebooks/CoveragePlotWithAugmentation.ipynb
  disentangle/notebooks/SSL_mnist_discriminator_n2v.ipynb
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
  disentangle/notebooks/demo_vanilla_unfolded copy.ipynb
  disentangle/notebooks/demo_vanilla_unfolded.ipynb
Due: isort, jupyter-nb-clear-output

ssl finetuning detach
  disentangle/loss/ssl_finetuning.py
Due: isort

updated ckpt dirs
  disentangle/scripts/evaluate.py
Due: isort

unfolded experiment
  disentangle/notebooks/demo_vanilla_unfolded.ipynb
Due: jupyter-nb-clear-output

updated installation.sh
  installation.sh
Due: none

updates
  disentangle/loss/ssl_finetuning.py
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
Due: isort, jupyter-nb-clear-output

puncta evaluation code updated.
  disentangle/nets/noise_model.py
  disentangle/notebooks/naturemethods/puncta_evaluation.ipynb
Due: isort, jupyter-nb-clear-output

puncta
  disentangle/configs/puncta_removal_config.py
  disentangle/notebooks/naturemethods/puncta_evaluation.ipynb
Due: isort, jupyter-nb-clear-output

val loss
  disentangle/analysis/ssl_plots.py
  disentangle/loss/ssl_finetuning.py
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
Due: isort, jupyter-nb-clear-output

SSL notebook update
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
Due: jupyter-nb-clear-output

hhmi config update
  disentangle/configs/multitiffsamesizedset_config.py
Due: isort

HHMI dset
  disentangle/configs/multitiffsamesizedset_config.py
Due: isort

hhmi notebooks update
  disentangle/notebooks/HHMI25_visualization.ipynb
  disentangle/notebooks/naturemethods/HHMI_datacreation_blurring.ipynb
  disentangle/notebooks/naturemethods/HHMI_v2_visualize.ipynb
  disentangle/notebooks/naturemethods/hhmi_eval.ipynb
Due: jupyter-nb-clear-output

renamed rawdloader
  disentangle/data_loader/hhmi_raw_dloader.py
  disentangle/data_loader/train_val_data.py
Due: isort

HHMI update
  disentangle/configs/hhmi_config.py
  disentangle/configs/hhmi_v2_config.py
  disentangle/core/data_type.py
  disentangle/data_loader/hhmi_v2_raw_dloader.py
  disentangle/data_loader/train_val_data.py
  disentangle/scripts/evaluate.py
  disentangle/training.py
  installation.sh
Due: isort

HHMI visualization
  disentangle/notebooks/HHMI25_visualization.ipynb
  disentangle/notebooks/naturemethods/HHMI_v2_visualize.ipynb
  disentangle/notebooks/naturemethods/puncta_evaluation.ipynb
Due: jupyter-nb-clear-output

hhmi v3
  disentangle/configs/hhmi_v3_config.py
  disentangle/data_loader/train_val_data.py
  disentangle/training.py
Due: isort

Path conditions:
  isort: any of: \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
