Repository ashesh-0/Disentangle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, jupyter-nb-clear-output

isort:
  name: isort
  description: Sorting imports.
  entry: isort
  language: python

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

notebooks for naturemethods
  disentangle/notebooks/naturemethods/puncta_evaluation.ipynb
  disentangle/notebooks/naturemethods/segmentation_results_3analyst.ipynb
  disentangle/notebooks/naturemethods/three_splitting_V2.ipynb
  disentangle/notebooks/naturemethods/three_splitting_crops.ipynb
  disentangle/notebooks/naturemethods/two_splitting.ipynb
  disentangle/notebooks/naturemethods/two_splitting_V2.ipynb
  disentangle/notebooks/naturemethods/two_splitting_original.ipynb
Due: jupyter-nb-clear-output

evaluation dataloader made working now
  disentangle/data_loader/evaluation_dloader.py
  disentangle/scripts/evaluate.py
Due: isort

notebook update
  disentangle/notebooks/naturemethods/puncta_evaluation.ipynb
  disentangle/notebooks/naturemethods/segmentation_results_3analyst.ipynb
  twoch_pred_mmse1.txt
  twoch_pred_mmse10.txt
  twoch_pred_mmse50.txt
Due: jupyter-nb-clear-output

config update
  disentangle/configs/nikola_7D_config.py
Due: isort

two splitting plotting
  disentangle/notebooks/naturemethods/two_splitting_V2.ipynb
Due: jupyter-nb-clear-output

notebook updates
  disentangle/notebooks/naturemethods/iba1ki67_plot.ipynb
  disentangle/notebooks/naturemethods/three_splitting_V2.ipynb
  disentangle/notebooks/naturemethods/two_splitting_V2.ipynb
Due: jupyter-nb-clear-output

notebook update
  disentangle/notebooks/naturemethods/four_splitting_V2.ipynb
Due: jupyter-nb-clear-output

logging more things into the calibration dict
  disentangle/data_loader/dao_3ch_rawdata_loader.py
  disentangle/metrics/calibration.py
  disentangle/training.py
Due: isort

naturemethods notebook update
  disentangle/notebooks/naturemethods/calibration_plots.ipynb
  disentangle/notebooks/naturemethods/two_splitting_V2.ipynb
Due: jupyter-nb-clear-output

iba1ki67
  disentangle/notebooks/naturemethods/EvaluateIba1Ki67.ipynb
Due: jupyter-nb-clear-output

similarity experiment
  disentangle/configs/similarity_experiment_config.py
  disentangle/core/data_type.py
  disentangle/data_loader/train_val_data.py
  disentangle/training.py
Due: isort

similarity experiment configi
  disentangle/configs/similarity_experiment_config.py
Due: isort

sox2
  disentangle/configs/similarity_experiment_config.py
  disentangle/data_loader/train_val_data.py
  disentangle/notebooks/naturemethods/EvaluateIba1Ki67.ipynb
Due: isort, jupyter-nb-clear-output

nature methods related changes
  disentangle/analysis/plot_utils.py
  disentangle/configs/similarity_experiment_config.py
  disentangle/data_loader/multicrops_dset.py
  disentangle/notebooks/naturemethods/EvalSimilarityExperiment.ipynb
Due: isort, jupyter-nb-clear-output

notebook to create train/val/test split
  disentangle/notebooks/ht_lif_train_val_test_diffspit.ipynb
Due: jupyter-nb-clear-output

puncta removal augmentation enabled
  disentangle/data_loader/multicrops_dset.py
Due: isort

dset.py
  disentangle/data_loader/multicrops_dset.py
Due: isort

config update
  disentangle/configs/puncta_removal_config.py
Due: isort

assert fix
  disentangle/data_loader/multicrops_dset.py
Due: isort

.py updates
  disentangle/data_loader/raw_mrc_dloader.py
  disentangle/data_loader/sox2golgi_v2_rawdata_loader.py
Due: isort

nature methods temporary changes added
  disentangle/notebooks/naturemethods/comparison_with_picasso.ipynb
  disentangle/notebooks/naturemethods/puncta_evaluation.ipynb
  disentangle/notebooks/naturemethods/segmentation_results_1analyst_common_annotation.ipynb
Due: jupyter-nb-clear-output

calibration
  disentangle/analysis/calibration_coverage.py
  disentangle/notebooks/CalibrationCoverage.ipynb
Due: isort, jupyter-nb-clear-output

refactored notebooks
  disentangle/notebooks/EvalOnWholeFrames.ipynb
  disentangle/notebooks/InspectingBackgroundSource.ipynb
  disentangle/notebooks/WeightEvolution.ipynb
  disentangle/notebooks/old_notebooks/DatasetElisa3D.ipynb
  disentangle/notebooks/old_notebooks/Denoiser.ipynb
  disentangle/notebooks/old_notebooks/Denoiser_Splitter.ipynb
  disentangle/notebooks/old_notebooks/Elisa3D_data.ipynb
  disentangle/notebooks/old_notebooks/Elisa3D_dloader.ipynb
  disentangle/notebooks/old_notebooks/Elisa_puncta_DIFdata.ipynb
  disentangle/notebooks/old_notebooks/Elisa_puncta_dataset_generator.ipynb
  disentangle/notebooks/old_notebooks/EvalFineTuning.ipynb
  disentangle/notebooks/old_notebooks/EvalNoiseModel.ipynb
  disentangle/notebooks/old_notebooks/EvalOnMultiFileDataset.ipynb
  disentangle/notebooks/old_notebooks/EvalOnWholeFrames.ipynb
  disentangle/notebooks/old_notebooks/EvaluateElisa3D.ipynb
  disentangle/notebooks/old_notebooks/ExpansionMicroscopyV2.ipynb
  disentangle/notebooks/old_notebooks/InspectingBackgroundSource.ipynb
  disentangle/notebooks/old_notebooks/RRW_data_visualization.ipynb
  disentangle/notebooks/old_notebooks/WeightEvolution.ipynb
  disentangle/notebooks/old_notebooks/biosr_data.ipynb
  disentangle/notebooks/old_notebooks/calibration_testing.ipynb
  disentangle/notebooks/old_notebooks/data_loader.ipynb
  disentangle/notebooks/old_notebooks/denoiser_psnr_comparison.ipynb
  disentangle/notebooks/old_notebooks/full_image_plots.ipynb
  disentangle/notebooks/old_notebooks/ht_lif_train_val_test_diffspit.ipynb
  disentangle/notebooks/old_notebooks/intro_figure.ipynb
  disentangle/notebooks/old_notebooks/multicrops_dloader.ipynb
  disentangle/notebooks/old_notebooks/noise_variation_plot.ipynb
  disentangle/notebooks/old_notebooks/optimal_scale_for_ssim.ipynb
  disentangle/notebooks/old_notebooks/pavia3_manual_crop_setter.ipynb
  disentangle/notebooks/old_notebooks/perf_comparison_diff_noise_model_ways.ipynb
  disentangle/notebooks/old_notebooks/puncta_removal_dataloader.ipynb
  disentangle/notebooks/old_notebooks/sampling_video.avi
  disentangle/notebooks/old_notebooks/sox2golgi_dloader.ipynb
  disentangle/notebooks/old_notebooks/taverna_sox2_golgi.ipynb
  disentangle/notebooks/old_notebooks/tiff_viewer.ipynb
  disentangle/notebooks/old_notebooks/training_data_size.ipynb
  disentangle/notebooks/sox2golgi_dloader.ipynb
  disentangle/notebooks/taverna_sox2_golgi.ipynb
Due: jupyter-nb-clear-output

self-supervision notebook now at the stage where I am getting the predictions
  disentangle/data_loader/sox2golgi_v2_rawdata_loader.py
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
Due: isort, jupyter-nb-clear-output

config update
  disentangle/configs/sox2golgi_config.py
Due: isort

sox2golgi update
  disentangle/configs/sox2golgi_config.py
  disentangle/data_loader/multifile_dset.py
  disentangle/data_loader/vanilla_dloader.py
Due: isort

normalization fixed
  disentangle/configs/sox2golgi_config.py
  disentangle/data_loader/vanilla_dloader.py
Due: isort

disabled start/end alpha
  disentangle/configs/sox2golgi_config.py
Due: isort

performance improvement
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
Due: jupyter-nb-clear-output

calibration coverage now working
  disentangle/analysis/calibration_coverage.py
  disentangle/notebooks/CalibrationCoverage.ipynb
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
Due: isort, jupyter-nb-clear-output

calibration coverage
  disentangle/notebooks/CalibrationCoverage.ipynb
Due: jupyter-nb-clear-output

calibration coverage & SSL
  disentangle/notebooks/CalibrationCoverage.ipynb
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
Due: jupyter-nb-clear-output

calibration notebooks
  disentangle/analysis/calibration_coverage_v2.py
  disentangle/notebooks/CalibrationCoverage.ipynb
  disentangle/notebooks/evaluate_notebook.py
Due: isort, jupyter-nb-clear-output

calibration coverage plot
  disentangle/analysis/calibration_coverage.py
  disentangle/analysis/calibration_coverage_v2.py
Due: isort

calibration coverage notebook update
  disentangle/notebooks/CalibrationCoverage.ipynb
Due: jupyter-nb-clear-output

calibration coverage
  disentangle/analysis/calibration_coverage.py
Due: isort

calibration coverage notebook
  disentangle/notebooks/CalibrationCoverage.ipynb
Due: jupyter-nb-clear-output

Path conditions:
  isort: any of: \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
