Repository ashesh-0/Disentangle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, jupyter-nb-clear-output

isort:
  name: isort
  description: Sorting imports.
  entry: isort
  language: python

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

evaluate notebook
  disentangle/notebooks/evaluate_notebook.py
Due: isort

notebook update
  disentangle/notebooks/CalibrationCoverage.ipynb
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
  disentangle/notebooks/estimate_noise.ipynb
Due: jupyter-nb-clear-output

noteook update
  disentangle/analysis/calibration_coverage_v2.py
  disentangle/loss/ssl_finetuning.py
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
  disentangle/notebooks/estimate_noise.ipynb
Due: isort, jupyter-nb-clear-output

ssl working partially
  disentangle/analysis/ssl_normalization_utils.py
  disentangle/analysis/ssl_plots.py
  disentangle/analysis/stitch_prediction.py
  disentangle/loss/ssl_finetuning.py
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
Due: isort, jupyter-nb-clear-output

config update
  disentangle/configs/sox2golgi_v2_config.py
Due: isort

bug fix
  disentangle/data_loader/vanilla_dloader.py
Due: isort

rank of image patches
  disentangle/notebooks/finding_rank_of_image_patches.ipynb
Due: jupyter-nb-clear-output

ssl finetuning
  disentangle/analysis/ssl_plots.py
  disentangle/loss/ssl_finetuning.py
Due: isort

ssl changes
  disentangle/analysis/ssl_normalization_utils.py
  disentangle/configs/sox2golgi_v2_config.py
  disentangle/loss/ssl_finetuning.py
  disentangle/nets/cellpose_segmentation.py
  disentangle/nets/lvae.py
  disentangle/nets/patch_shuffle_transformation.py
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
  disentangle/notebooks/finding_rank_of_image_patches.ipynb
  disentangle/scripts/run.py
  installation.sh
Due: isort, jupyter-nb-clear-output

segmentation related stuff
  disentangle/analysis/usam_segmentation.py
  disentangle/notebooks/stardist_segmentation.ipynb
  disentangle/notebooks/usam_segmentation.ipynb
Due: isort, jupyter-nb-clear-output

config update
  disentangle/configs/sox2golgi_config.py
Due: isort

latest installation
  installation.sh
Due: none

notebook update
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
Due: jupyter-nb-clear-output

multiple augmentations+ stable working notebook
  disentangle/configs/sox2golgi_config.py
  disentangle/loss/ssl_finetuning.py
  disentangle/nets/cellpose_segmentation.py
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
Due: isort, jupyter-nb-clear-output

ssl exp
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
Due: jupyter-nb-clear-output

ssl plots/finetuning
  disentangle/analysis/ssl_plots.py
  disentangle/loss/ssl_finetuning.py
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
Due: isort, jupyter-nb-clear-output

ssl notebook evaluation done
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
  disentangle/notebooks/evaluate_ssl_notebook.py
Due: isort, jupyter-nb-clear-output

notebook update
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
  disentangle/notebooks/evaluate_ssl_notebook.py
Due: isort, jupyter-nb-clear-output

notebook updates
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
  disentangle/notebooks/evaluate_ssl_notebook.py
  disentangle/notebooks/nb_core/config_loader.ipynb
Due: isort, jupyter-nb-clear-output

k_moment loss disabling setup
  disentangle/loss/ssl_finetuning.py
Due: isort

finetuning notebook setup
  disentangle/loss/ssl_finetuning.py
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
  disentangle/notebooks/evaluate_ssl_notebook.py
Due: isort, jupyter-nb-clear-output

ssl finetuning
  disentangle/loss/ssl_finetuning.py
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
Due: isort, jupyter-nb-clear-output

ssl notebook parsing enable mixing aug
  disentangle/notebooks/evaluate_ssl_notebook.py
Due: isort

summing the moements
  disentangle/loss/ssl_finetuning.py
Due: isort

ssl finetuning print()
  disentangle/loss/ssl_finetuning.py
Due: isort

improve selfsupervision to have a single setup
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
Due: jupyter-nb-clear-output

saving to file made optional
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
  disentangle/notebooks/evaluate_ssl_notebook.py
Due: isort, jupyter-nb-clear-output

saving and loading the model
  disentangle/analysis/calibration_coverage.py
  disentangle/loss/ssl_finetuning.py
Due: isort

notebook updates
  disentangle/notebooks/SelfSupervisionExperiment copy.ipynb
Due: jupyter-nb-clear-output

calibration coverage
  disentangle/analysis/calibration_coverage.py
  disentangle/analysis/calibration_coverage_v2.py
Due: isort

calibration coverage plots
  disentangle/analysis/calibration_coverage_grid_search.py
  disentangle/notebooks/CalibrationCoverage.ipynb
Due: isort, jupyter-nb-clear-output

calibration coverage
  disentangle/analysis/calibration_coverage_grid_search.py
  disentangle/notebooks/CalibrationCoverage.ipynb
Due: isort, jupyter-nb-clear-output

psnr working with just 2d images
  disentangle/core/psnr.py
Due: isort

calibration coverage, enabling different mmse for error and different samples
  disentangle/analysis/calibration_coverage.py
Due: isort

coveraged related plots
  disentangle/analysis/poserior_sampling_predictor.py
  disentangle/notebooks/CalibrationCoverage.ipynb
  disentangle/notebooks/CoveragePlotWithAugmentation.ipynb
Due: isort, jupyter-nb-clear-output

segmentation
  disentangle/analysis/background_threshold_estimation.py
  disentangle/analysis/forward_operator_parameters.py
  disentangle/notebooks/segmentation_augmentation.ipynb
Due: isort, jupyter-nb-clear-output

Path conditions:
  isort: any of: \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
