Repository ashesh-0/Disentangle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
     - id: isort
       name: isort
       description: "Sorting imports."
       entry: isort
       language: python
       types: [python]
     
     - id: jupyter-nb-clear-output
       name: jupyter-nb-clear-output
       files: \.ipynb$
       stages: [commit]
       language: system
       entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

notebook now ready for two dset
  disentangle/analysis/ssl_normalization_utils.py
  disentangle/analysis/ssl_plots.py
  disentangle/data_loader/dset_preloaded_data.py
  disentangle/loss/ssl_finetuning.py
  disentangle/notebooks/SelfSupervisionExperiment copy.ipynb
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
Due: isort, jupyter-nb-clear-output

config update
  disentangle/configs/similarity_experiment_config.py
Due: isort

augmentation fix
  disentangle/configs/nikola_7D_config.py
  disentangle/configs/similarity_experiment_config.py
  disentangle/data_loader/vanilla_dloader.py
Due: isort

care3D config
  disentangle/configs/similarity_care3D_config.py
  disentangle/data_loader/care3D_rawdata_loader.py
  disentangle/notebooks/naturemethods/compare_differently_noisy_images.ipynb
Due: isort, jupyter-nb-clear-output

config update
  disentangle/configs/similarity_care3D_config.py
Due: isort

grid search experiment
  disentangle/analysis/mmse_prediction.py
  disentangle/loss/ssl_finetuning.py
  disentangle/notebooks/SSLgridsearch.ipynb
Due: isort, jupyter-nb-clear-output

HTLIF24 dataset different trainng data
  disentangle/notebooks/naturemethods/HTLIF24_different_traning_data.ipynb
Due: jupyter-nb-clear-output

mnist setup now training
  disentangle/configs/mnist_config.py
  disentangle/data_loader/mnist_dset.py
  disentangle/loss/ssl_finetuning.py
  disentangle/notebooks/SSL_mnist.ipynb
Due: isort, jupyter-nb-clear-output

discriminator based setup
  disentangle/core/psnr.py
  disentangle/loss/discriminator_loss.py
  disentangle/loss/ssl_with_discriminator.py
  disentangle/nets/discriminator.py
  disentangle/nets/lvae_with_critic.py
  disentangle/notebooks/SelfSupervisionDiscriminator.ipynb
  disentangle/scripts/evaluate.py
Due: isort, jupyter-nb-clear-output

training/eval mode
  disentangle/analysis/ssl_plots.py
  disentangle/data_loader/vanilla_dloader.py
Due: isort

psnr computation added in SSL
  disentangle/loss/ssl_finetuning.py
Due: isort

SSL notebook update
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
Due: jupyter-nb-clear-output

self-supervision experiment improved
  disentangle/analysis/mmse_prediction.py
  disentangle/core/psnr.py
  disentangle/data_loader/multifile_dset.py
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
Due: isort, jupyter-nb-clear-output

ssl now setup as i want it
  disentangle/analysis/mmse_prediction.py
  disentangle/loss/ssl_finetuning.py
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
Due: isort, jupyter-nb-clear-output

evaluation code made correct
  disentangle/notebooks/evaluate_notebook.py
Due: isort

segmentation aug
  disentangle/data_loader/segmentation_augmentation.py
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
  disentangle/notebooks/segmentation_augmentation.ipynb
Due: isort, jupyter-nb-clear-output

segmentation augmentation moved to finetunesplit
  disentangle/data_loader/segmentation_augmentation.py
  disentangle/notebooks/segmentation_augmentation.ipynb
Due: isort, jupyter-nb-clear-output

sox2 background creator notebook
  disentangle/notebooks/sox2_background_creator.ipynb
Due: jupyter-nb-clear-output

ssl notebook
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
Due: jupyter-nb-clear-output

mnist setup
  disentangle/analysis/stitch_prediction.py
  disentangle/configs/mnist_config.py
  disentangle/data_loader/mnist_dset.py
  disentangle/notebooks/SSL_mnist.ipynb
  disentangle/notebooks/evaluate_notebook.py
  installation.sh
Due: isort, jupyter-nb-clear-output

ssl
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
Due: jupyter-nb-clear-output

fixed SSL notebook
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
Due: jupyter-nb-clear-output

coverageplot augmentation
  disentangle/notebooks/CoveragePlotWithAugmentation.ipynb
Due: jupyter-nb-clear-output

posterior sampling
  disentangle/analysis/poserior_sampling_predictor.py
  disentangle/notebooks/CoveragePlotWithAugmentation_1.ipynb
  disentangle/notebooks/SelfSupervisionExperiment.ipynb
Due: isort, jupyter-nb-clear-output

indisplit code integrated
  disentangle/configs/indisplit_biosr_config.py
  disentangle/core/data_type.py
  disentangle/data_loader/indisplit_rawdata_loader.py
  disentangle/data_loader/train_val_data.py
  disentangle/training.py
Due: isort

hagenetal baseline working
  disentangle/configs/indisplit_hagenetal_config.py
  disentangle/data_loader/indisplit_rawdata_loader.py
Due: isort

paviaatn baseline working
  disentangle/configs/indisplit_paviatn_config.py
Due: isort

paviatn
  disentangle/configs/indisplit_paviatn_config.py
Due: isort

htt24 config
  disentangle/configs/indisplit_htt24_config.py
Due: isort

htlif24 config
  disentangle/configs/indisplit_htlif24_config.py
Due: isort

evaluating notebook
  disentangle/notebooks/EvaluateWithDifferentMixingWeights.ipynb
  disentangle/notebooks/evaluate_notebook.py
Due: isort, jupyter-nb-clear-output

evaluate notebook fix
  disentangle/notebooks/evaluate_notebook.py
Due: isort

metric computation, made correct
  disentangle/core/metrics.py
  disentangle/notebooks/EvaluateWithDifferentMixingWeights.ipynb
  installation.sh
Due: isort, jupyter-nb-clear-output

Hagen et al made correct
  disentangle/notebooks/EvaluateWithDifferentMixingWeights.ipynb
Due: jupyter-nb-clear-output

config update
  disentangle/configs/indisplit_biosr_config.py
  disentangle/configs/indisplit_hagenetal_config.py
  disentangle/configs/indisplit_htlif24_config.py
  disentangle/configs/indisplit_htt24_config.py
  disentangle/configs/indisplit_paviatn_config.py
Due: isort

evaluate real input
  disentangle/notebooks/EvaluateRealInput.ipynb
Due: jupyter-nb-clear-output

MNIST setup now working
  disentangle/analysis/ssl_plots.py
  disentangle/configs/mnist_config.py
  disentangle/data_loader/mnist_dset.py
  disentangle/loss/discriminator_loss.py
  disentangle/loss/ssl_with_discriminator.py
  disentangle/notebooks/EvaluateWithDifferentMixingWeights copy.ipynb
  disentangle/notebooks/SSL_mnist_discriminator.ipynb
  disentangle/notebooks/SSL_mnist_testing_classification_power_of_discriminator.ipynb
Due: isort, jupyter-nb-clear-output

mnist updates
  disentangle/configs/mnist_config.py
  disentangle/notebooks/SSL_mnist_discriminator.ipynb
Due: isort, jupyter-nb-clear-output
