Repository ashesh-0/Disentangle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
     - id: isort
       name: isort
       description: "Sorting imports."
       entry: isort
       language: python
       types: [python]
     
     - id: jupyter-nb-clear-output
       name: jupyter-nb-clear-output
       files: \.ipynb$
       stages: [commit]
       language: system
       entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

noise model
  disentangle/nets/gmm_noise_model.py
Due: isort

config update
  disentangle/nets/gmm_noise_model.py
Due: isort

config update
  disentangle/configs/dao_withinput_config.py
  disentangle/nets/gmm_noise_model.py
Due: isort

config update
  disentangle/nets/gmm_noise_model.py
  disentangle/nets/lvae.py
Due: isort

dynamic weighting
  disentangle/nets/gmm_noise_model.py
  disentangle/nets/lvae.py
Due: isort

pavia3 config update
  disentangle/configs/pavia3_config.py
Due: isort

config update
  disentangle/configs/pavia3_config.py
Due: isort

config update
  disentangle/configs/dao3ch_config.py
Due: isort

iba1 config
  disentangle/configs/ht_iba1_ki64_config.py
  disentangle/core/empty_patch_fetcher.py
  disentangle/data_loader/lc_multich_dloader.py
  disentangle/data_loader/vanilla_dloader.py
  disentangle/training.py
Due: isort

ht iba1 config working
  disentangle/configs/ht_iba1_ki64_config.py
  disentangle/data_loader/lc_multich_dloader.py
Due: isort

weak nucleus
  disentangle/notebooks/EvalNoiseModel.ipynb
  disentangle/notebooks/EvalOnMultiFileDataset.ipynb
  disentangle/notebooks/naturemethods/two_splitting.ipynb
  disentangle/notebooks/naturemethods/weak_nucleus.ipynb
Due: jupyter-nb-clear-output

two_splitting_crops now done
  disentangle/notebooks/EvalOnMultiFileDataset.ipynb
  disentangle/notebooks/EvalOnWholeFrames.ipynb
  disentangle/notebooks/naturemethods/three_splitting.ipynb
  disentangle/notebooks/naturemethods/two_splitting_crops.ipynb
  disentangle/scripts/evaluate.py
Due: isort, jupyter-nb-clear-output

fixing evaluation time code, for sequential prediction
  disentangle/data_loader/lc_multich_dloader.py
Due: isort

nikola data now can be trained
  disentangle/configs/nikola_7D_config.py
  disentangle/data_loader/nikola_7D_rawdata_loader.py
  disentangle/notebooks/EvalNoiseModel.ipynb
  disentangle/notebooks/EvalOnMultiFileDataset.ipynb
  disentangle/notebooks/EvalOnWholeFrames.ipynb
  disentangle/notebooks/datasets/nikola_dataset.ipynb
  disentangle/notebooks/naturemethods/three_splitting.ipynb
  disentangle/notebooks/naturemethods/weak_nucleus.ipynb
  disentangle/scripts/evaluate.py
Due: isort, jupyter-nb-clear-output

config update
  disentangle/configs/nikola_7D_config.py
Due: isort

creating synthetic data for stefania
  disentangle/notebooks/datasets/iba1_synthetic_data_creation.ipynb
Due: jupyter-nb-clear-output

notebook move
  disentangle/notebooks/EvalOnWholeFrames.ipynb
  disentangle/notebooks/datasets/nikola_dataset.ipynb
  disentangle/notebooks/naturemethods/iba1_synthetic_data_creation.ipynb
Due: jupyter-nb-clear-output

config update
  disentangle/configs/ht_iba1_ki64_config.py
Due: isort

enabled calibration training in evaluate.py
  disentangle/analysis/results_handler.py
  disentangle/scripts/evaluate.py
Due: isort

percent 30%, 50%, 70%
  disentangle/data_loader/ht_iba1_ki67_rawdata_loader.py
Due: isort

evaluate.py fixed for calibration genenration
  disentangle/scripts/evaluate.py
Due: isort

calibration now working perfectly :)
  disentangle/analysis/results_handler.py
  disentangle/metrics/calibration.py
  disentangle/scripts/evaluate.py
Due: isort

script update
  disentangle/data_loader/pavia3_rawdata_loader.py
Due: isort

notebook update
  disentangle/notebooks/EvalOnMultiFileDataset.ipynb
  disentangle/notebooks/EvalOnWholeFrames.ipynb
  disentangle/notebooks/datasets/nikola_dataset.ipynb
  disentangle/notebooks/pavia3_manual_crop_setter.ipynb
Due: jupyter-nb-clear-output

fixed validation loss
  disentangle/nets/lvae.py
Due: isort

notebooks update
  disentangle/notebooks/EvalOnMultiFileDataset.ipynb
  disentangle/notebooks/naturemethods/EvaluateIba1Ki67.ipynb
  disentangle/notebooks/pavia3_manual_crop_setter.ipynb
Due: jupyter-nb-clear-output
