Repository ashesh-0/Disentangle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
     - id: isort
       name: isort
       description: "Sorting imports."
       entry: isort
       language: python
       types: [python]
     
     - id: jupyter-nb-clear-output
       name: jupyter-nb-clear-output
       files: \.ipynb$
       stages: [commit]
       language: system
       entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

flipping in z allowed
  disentangle/configs/expansion_micro_config.py
  disentangle/data_loader/vanilla_dloader.py
Due: isort

config updated
  disentangle/configs/expansion_micro_config.py
Due: isort

config updated
  disentangle/configs/expansion_micro_config.py
  disentangle/scripts/evaluate.py
Due: isort

expansion microscopy v1
  disentangle/configs/expansion_micro_config.py
  disentangle/data_loader/train_val_data.py
  disentangle/notebooks/EvalNoiseModel.ipynb
  disentangle/scripts/evaluate.py
Due: isort, jupyter-nb-clear-output

config update
  disentangle/configs/pavia3_config.py
  disentangle/nets/lvae.py
Due: isort

update data_loader
  disentangle/data_loader/vanilla_dloader.py
Due: isort

update evaluation
  disentangle/nets/lvae.py
  disentangle/notebooks/naturemethods/two_splitting.ipynb
  disentangle/scripts/evaluate.py
Due: isort, jupyter-nb-clear-output

standard error fixed
  disentangle/core/ssim.py
  disentangle/scripts/evaluate.py
Due: isort

pixel ignore logic removed
  disentangle/scripts/evaluate.py
Due: isort

evaluate.py updated
  disentangle/core/ssim.py
  disentangle/scripts/evaluate.py
Due: isort

evaluate.py now able to save irregular predictions as well
  disentangle/scripts/evaluate.py
Due: isort

config update
  disentangle/configs/pavia3_config.py
Due: isort

evaluate.py update
  disentangle/scripts/evaluate.py
Due: isort

fix
  disentangle/scripts/evaluate.py
Due: isort

ht iba1 update
  disentangle/configs/pavia3_config.py
  disentangle/data_loader/ht_iba1_ki67_rawdata_loader.py
  disentangle/notebooks/EvalNoiseModel.ipynb
  disentangle/notebooks/EvaluateElisa3D.ipynb
  disentangle/notebooks/naturemethods/EvaluateIba1Ki67.ipynb
  disentangle/notebooks/naturemethods/two_splitting.ipynb
Due: isort, jupyter-nb-clear-output

config update
  disentangle/configs/ht_iba1_ki64_config.py
  disentangle/data_loader/ht_iba1_ki67_rawdata_loader.py
Due: isort

nikola noisy
  disentangle/configs/nikola_synthetic_noise_config.py
  disentangle/data_loader/lc_multich_dloader.py
  disentangle/data_loader/multicrops_dset.py
  disentangle/data_loader/vanilla_dloader.py
Due: isort

data generation done
  .gitignore
  disentangle/notebooks/naturemethods/picasso_datageneration.ipynb
Due: jupyter-nb-clear-output

updated scripts
  disentangle/scripts/evaluate.py
Due: isort

picasso figure generated
  disentangle/notebooks/EvalOnWholeFrames.ipynb
  disentangle/notebooks/naturemethods/comparison_with_picasso.ipynb
  disentangle/notebooks/naturemethods/picasso_datageneration.ipynb
Due: jupyter-nb-clear-output

notebook added
  disentangle/notebooks/naturemethods/comparison_with_picasso.ipynb
Due: jupyter-nb-clear-output

config update + bug fix
  disentangle/configs/biosr_config.py
  disentangle/data_loader/lc_multich_dloader.py
Due: isort

calibration
  disentangle/scripts/evaluate.py
Due: isort

evaluate
  disentangle/metrics/calibration.py
  disentangle/scripts/evaluate.py
Due: isort

three splitting crops
  disentangle/notebooks/naturemethods/segmentation_results_3analyst.ipynb
  disentangle/notebooks/naturemethods/three_splitting_crops.ipynb
Due: jupyter-nb-clear-output

config update
  disentangle/configs/elisa3D_config.py
Due: isort

update calibration quantiles
  disentangle/metrics/calibration.py
Due: isort

changing the thresholds for evaluate.py
  disentangle/notebooks/naturemethods/architecture.ipynb
  disentangle/notebooks/naturemethods/calibration_plots.ipynb
  disentangle/notebooks/naturemethods/three_splitting_crops.ipynb
  disentangle/notebooks/naturemethods/two_splitting.ipynb
  disentangle/scripts/evaluate.py
Due: isort, jupyter-nb-clear-output

evaluate.py
  disentangle/scripts/evaluate.py
Due: isort

evaluate.py updated with correct
  disentangle/scripts/evaluate.py
Due: isort

elisa3d dataset notebook
  disentangle/notebooks/DatasetElisa3D.ipynb
Due: jupyter-nb-clear-output

calibration updated logic
  disentangle/metrics/calibration.py
  disentangle/scripts/evaluate.py
Due: isort

notebook update
  disentangle/notebooks/naturemethods/three_splitting_crops.ipynb
Due: jupyter-nb-clear-output

evaluate.py fixed
  disentangle/scripts/evaluate.py
Due: isort

notebook update
  disentangle/notebooks/naturemethods/nicola_other_noise_level_evaluations.ipynb
Due: jupyter-nb-clear-output

epistemic uncertainty
  disentangle/analysis/results_handler.py
  disentangle/nets/epistemic_uncertainty.py
  disentangle/nets/noise_model.py
  disentangle/notebooks/naturemethods/EpistemicUncertainty.ipynb
  disentangle/notebooks/naturemethods/nicola_other_noise_level_evaluations.ipynb
  disentangle/scripts/evaluate.py
Due: isort, jupyter-nb-clear-output
