Repository ashesh-0/Disentangle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
     - id: isort
       name: isort
       description: "Sorting imports."
       entry: isort
       language: python
       types: [python]
     
     - id: jupyter-nb-clear-output
       name: jupyter-nb-clear-output
       files: \.ipynb$
       stages: [commit]
       language: system
       entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

config update
  disentangle/configs/htt24_denoisplit.py
Due: isort

notebook update
  disentangle/notebooks/CoveragePlotWithAugmentationWithNoise.ipynb
Due: jupyter-nb-clear-output

Coverage plot will now be more balanced
  disentangle/notebooks/CoveragePlotWithAugmentationWithNoise.ipynb
Due: jupyter-nb-clear-output

coverage plot with noise
  disentangle/notebooks/CoveragePlotWithAugmentationWithNoise.ipynb
Due: jupyter-nb-clear-output

remove forward operator parameters file. this has been moved to finetunesplit
  disentangle/analysis/forward_operator_parameters.py
Due: isort

photon experiment
  disentangle/notebooks/photon_efficiency_comparison.ipynb
Due: jupyter-nb-clear-output

coverage plot
  disentangle/notebooks/CoveragePlotWithAugmentationWithNoise.ipynb
Due: jupyter-nb-clear-output

coverageplot
  disentangle/notebooks/CoveragePlotWithAugmentationWithNoise.ipynb
Due: jupyter-nb-clear-output

integrated uq notebook
  disentangle/data_loader/multifile_dset.py
  disentangle/notebooks/CoveragePlotWithAugmentationWithNoise.ipynb
  disentangle/utils.py
Due: isort, jupyter-nb-clear-output

coverageplot with aug
  disentangle/core/psnr.py
  disentangle/notebooks/CoveragePlotWithAugmentationWithNoise.ipynb
  disentangle/notebooks/nb_core/config_loader.ipynb
Due: isort, jupyter-nb-clear-output

coverageplot
  disentangle/notebooks/CoveragePlots.ipynb
Due: jupyter-nb-clear-output

updated coverage plot
  disentangle/notebooks/CoveragePlots.ipynb
Due: jupyter-nb-clear-output

installed lpips
  pyproject.toml
  uv.lock
Due: none

notebook updates
  disentangle/notebooks/CoveragePlotWithAugmentationWithNoise.ipynb
  disentangle/notebooks/CoveragePlots.ipynb
  disentangle/notebooks/CoveragePlots_old.ipynb
  disentangle/notebooks/EvaluateRealInput.ipynb
Due: jupyter-nb-clear-output

notebook update
  disentangle/notebooks/CoveragePlotWithAugmentationWithNoise.ipynb
  disentangle/notebooks/CoveragePlots.ipynb
Due: jupyter-nb-clear-output

coverage plots disabling tqdm
  disentangle/notebooks/CoveragePlots.ipynb
Due: jupyter-nb-clear-output

coverage plot
  disentangle/notebooks/CoveragePlots.ipynb
Due: jupyter-nb-clear-output

coverage plot related changes
  disentangle/notebooks/CoveragePlotWithAugmentationWithNoise.ipynb
  disentangle/notebooks/CoveragePlots.ipynb
Due: jupyter-nb-clear-output

added package
  pyproject.toml
  uv.lock
Due: none

uv related stuff
  pyproject.toml
  uv.lock
Due: none

uq method for microsplit is probably not complete
  disentangle/nets/lvae.py
  disentangle/notebooks/CoveragePlot.ipynb
  disentangle/notebooks/CoveragePlotWithAugmentationWithNoise.ipynb
  disentangle/notebooks/CoveragePlots.ipynb
  disentangle/notebooks/CoveragePlots_old.ipynb
  disentangle/notebooks/denoiser_psnr_comparison.ipynb
Due: isort, jupyter-nb-clear-output

updated the path
  disentangle/notebooks/naturemethods/comparison_with_picasso.ipynb
Due: jupyter-nb-clear-output

photon efficiency code
  disentangle/notebooks/naturemethods/photon_efficiency_comparison.ipynb
Due: jupyter-nb-clear-output

photon efficiency code
  disentangle/notebooks/photon_efficiency_comparison.ipynb
Due: jupyter-nb-clear-output
