Repository ashesh-0/Disentangle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, jupyter-nb-clear-output

isort:
  name: isort
  description: Sorting imports.
  entry: isort
  language: python

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

iba1 config update
  disentangle/configs/ht_iba1_ki64_config.py
  disentangle/data_loader/ht_iba1_ki67_rawdata_loader.py
Due: isort

config update
  disentangle/configs/pavia4_config.py
Due: isort

explicit data loader
  disentangle/data_loader/multifile_raw_dloader.py
  disentangle/data_loader/pavia3_rawdata_loader.py
Due: isort

notebook update
  disentangle/notebooks/naturemethods/BleedthroughIterative.ipynb
  disentangle/notebooks/naturemethods/EvaluateIba1Ki67.ipynb
  disentangle/notebooks/naturemethods/calibration_plots.ipynb
Due: jupyter-nb-clear-output

config update
  disentangle/configs/pavia3_config.py
  disentangle/data_loader/pavia3_rawdata_loader.py
Due: isort

notebook update
  disentangle/notebooks/EvalOnMultiFileDataset.ipynb
  disentangle/notebooks/EvalOnWholeFrames.ipynb
  disentangle/notebooks/naturemethods/BleedthroughIterative.ipynb
  disentangle/notebooks/naturemethods/EvaluateIba1Ki67.ipynb
  disentangle/notebooks/naturemethods/calibration_plots.ipynb
  disentangle/notebooks/naturemethods/two_splitting.ipynb
  disentangle/notebooks/pavia3_manual_crop_setter.ipynb
Due: jupyter-nb-clear-output

config update
  disentangle/configs/nikola_7D_config.py
Due: isort

evaluate.py
  disentangle/scripts/evaluate.py
Due: isort

config update
  disentangle/configs/ht_iba1_ki64_config.py
Due: isort

data loader
  disentangle/data_loader/lc_multich_dloader.py
  disentangle/data_loader/vanilla_dloader.py
Due: isort

img tuples
  disentangle/data_loader/lc_multich_dloader.py
Due: isort

notebook update
  disentangle/notebooks/datasets/nikola_dataset.ipynb
  disentangle/notebooks/naturemethods/EvaluateIba1Ki67.ipynb
  disentangle/notebooks/naturemethods/iba1_synthetic_data_creation.ipynb
  disentangle/notebooks/naturemethods/iba1ki67_plot.ipynb
  disentangle/notebooks/naturemethods/three_splitting.ipynb
  disentangle/notebooks/naturemethods/two_splitting.ipynb
Due: jupyter-nb-clear-output

splitting
  disentangle/notebooks/naturemethods/EvaluateIba1Ki67.ipynb
  disentangle/notebooks/naturemethods/four_splitting.ipynb
Due: jupyter-nb-clear-output

dao config update
  disentangle/configs/dao3ch_config.py
Due: isort

notebook update
  disentangle/data_loader/ht_iba1_ki67_rawdata_loader.py
  disentangle/notebooks/naturemethods/EvaluateIba1Ki67.ipynb
  disentangle/notebooks/naturemethods/iba1_synthetic_data_creation.ipynb
  disentangle/notebooks/naturemethods/iba1ki67_plot.ipynb
Due: isort, jupyter-nb-clear-output

iba1 ki67 update
  disentangle/data_loader/ht_iba1_ki67_rawdata_loader.py
Due: isort

notebook updates
  disentangle/notebooks/datasets/nikola_dataset.ipynb
  disentangle/notebooks/naturemethods/EvaluateIba1Ki67.ipynb
  disentangle/notebooks/naturemethods/calibration_plots.ipynb
  disentangle/notebooks/naturemethods/four_splitting.ipynb
  disentangle/notebooks/naturemethods/iba1ki67_plot.ipynb
  disentangle/notebooks/naturemethods/three_splitting.ipynb
  disentangle/notebooks/naturemethods/two_splitting_crops.ipynb
Due: jupyter-nb-clear-output

uncorrelation augmentation enabled
  disentangle/configs/ht_iba1_ki64_config.py
  disentangle/data_loader/lc_multich_dloader.py
Due: isort

enabling co-localization augmentation
  disentangle/data_loader/lc_multich_dloader.py
Due: isort

config update
  disentangle/configs/pavia3_config.py
  disentangle/data_loader/lc_multich_dloader.py
Due: isort

data loader update
  disentangle/data_loader/dao_3ch_rawdata_loader.py
  disentangle/scripts/evaluate.py
Due: isort

scripts
  disentangle/scripts/evaluate.py
Due: isort

enabling evaluation on a different data
  disentangle/analysis/results_handler.py
  disentangle/nets/noise_model.py
  disentangle/scripts/evaluate.py
Due: isort

highsnr evaluation of nicola data
  disentangle/scripts/evaluate.py
Due: isort

completed
  disentangle/core/ssim.py
  disentangle/scripts/evaluate.py
Due: isort

ssim now getting optimized using sklearn
  disentangle/notebooks/optimal_scale_for_ssim.ipynb
Due: jupyter-nb-clear-output

generating plots fixed
  disentangle/analysis/paper_plots.py
  disentangle/notebooks/EvalOnWholeFrames.ipynb
  disentangle/notebooks/nb_core/root_dirs.ipynb
Due: isort, jupyter-nb-clear-output

notebook update
  disentangle/configs/twotiff_config.py
  disentangle/data_loader/two_tiff_rawdata_loader.py
  disentangle/notebooks/Elisa_DIFdata.ipynb
  disentangle/notebooks/naturemethods/ElenaTavernaV2Evaluation.ipynb
  disentangle/notebooks/naturemethods/nicola_other_noise_level_evaluations.ipynb
  disentangle/scripts/evaluate.py
Due: isort, jupyter-nb-clear-output

multi-crop dataset now working.
  disentangle/core/data_type.py
  disentangle/data_loader/multicrop_dset_rawdata_loader.py
  disentangle/data_loader/multicrops_dset.py
  disentangle/data_loader/train_val_data.py
  disentangle/notebooks/Elisa_dataset_generator.ipynb
  disentangle/notebooks/multicrops_dloader.ipynb
Due: isort, jupyter-nb-clear-output

training now working
  disentangle/configs/puncta_removal_config.py
  disentangle/data_loader/multicrops_dset.py
  disentangle/data_loader/multicrops_dset_rawdata_loader.py
  disentangle/data_loader/train_val_data.py
  disentangle/notebooks/multicrops_dloader.ipynb
  disentangle/training.py
Due: isort, jupyter-nb-clear-output

evaluation data loader
  disentangle/data_loader/evaluation_dloader.py
  disentangle/notebooks/puncta_evaluation.ipynb
Due: isort, jupyter-nb-clear-output

config update
  disentangle/configs/puncta_removal_config.py
Due: isort

max value set
  disentangle/configs/puncta_removal_config.py
  disentangle/data_loader/multicrops_dset.py
  disentangle/notebooks/Elisa_puncta_DIFdata.ipynb
  disentangle/notebooks/Elisa_puncta_dataset_generator.ipynb
  disentangle/notebooks/puncta_evaluation.ipynb
Due: isort, jupyter-nb-clear-output

rotation fixed and enabled for training
  disentangle/data_loader/multicrops_dset.py
  disentangle/notebooks/multicrops_dloader.ipynb
  disentangle/training.py
Due: isort, jupyter-nb-clear-output

config update
  disentangle/configs/puncta_removal_config.py
  disentangle/notebooks/puncta_evaluation.ipynb
Due: isort, jupyter-nb-clear-output

Path conditions:
  isort: any of: \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
