Repository ashesh-0/Disentangle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, jupyter-nb-clear-output

isort:
  name: isort
  description: Sorting imports.
  entry: isort
  language: python

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

epistemic plot
  disentangle/notebooks/calibration_testing.ipynb
  disentangle/notebooks/naturemethods/EpistemicUncertaintyPlot.ipynb
Due: jupyter-nb-clear-output

nikola config update
  disentangle/configs/nikola_7D_config.py
Due: isort

epistemic uncertainty notebook updates
  disentangle/analysis/visualize_like_video.py
  disentangle/configs/nikola_7D_config.py
  disentangle/notebooks/naturemethods/EpistemicUncertaintyTrainingDataVariation.ipynb
  disentangle/scripts/evaluate.py
Due: isort, jupyter-nb-clear-output

epistemic uncertainty OOD similar structure
  disentangle/notebooks/EvalOnWholeFrames.ipynb
  disentangle/notebooks/naturemethods/EpistemicUncertaintyOODSimilarStructure.ipynb
Due: jupyter-nb-clear-output

shroff config
  disentangle/configs/shroff_3D_config.py
  disentangle/data_loader/schroff_rawdata_loader.py
  disentangle/data_loader/vanilla_dloader.py
Due: isort

weighted sampling giving preference to center portions
  disentangle/configs/shroff_3D_config.py
  disentangle/data_loader/lc_multich_dloader.py
  disentangle/data_loader/vanilla_dloader.py
Due: isort

sampling from center
  disentangle/configs/shroff_3D_config.py
  disentangle/data_loader/vanilla_dloader.py
Due: isort

vanilla dloader
  disentangle/data_loader/vanilla_dloader.py
Due: isort

shroff config update
  disentangle/configs/shroff_3D_config.py
  disentangle/data_loader/schroff_rawdata_loader.py
Due: isort

3D data evaluation
  disentangle/data_loader/vanilla_dloader.py
  disentangle/scripts/evaluate.py
  disentangle/scripts/evaluate_sequentially.py
Due: isort

nature methods
  disentangle/notebooks/naturemethods/nicola_other_noise_level_evaluations.ipynb
  disentangle/notebooks/naturemethods/three_splitting.ipynb
  disentangle/notebooks/naturemethods/two_splitting.ipynb
Due: jupyter-nb-clear-output

notebook update
  disentangle/notebooks/EvalOnWholeFrames.ipynb
  disentangle/notebooks/RRW_data_visualization.ipynb
  disentangle/notebooks/naturemethods/four_splitting.ipynb
  disentangle/notebooks/naturemethods/two_splitting.ipynb
Due: jupyter-nb-clear-output

ht iba1 restored to original code
  disentangle/data_loader/ht_iba1_ki67_rawdata_loader.py
Due: isort

care3D now working
  disentangle/configs/care3D_config.py
  disentangle/core/data_type.py
  disentangle/data_loader/care3D_rawdata_loader.py
  disentangle/data_loader/train_val_data.py
  disentangle/notebooks/naturemethods/care_zebrafish_visualizer.ipynb
  disentangle/training.py
Due: isort, jupyter-nb-clear-output

config update
  disentangle/configs/expansion_micro_config.py
Due: isort

care3D config
  disentangle/configs/care3D_config.py
Due: isort

LC not working with care3D, but we can ignore it for now
  disentangle/configs/care3D_config.py
Due: isort

config update
  disentangle/configs/care3D_config.py
Due: isort

care3D for liver
  disentangle/configs/care3D_config.py
  disentangle/data_loader/care3D_rawdata_loader.py
  disentangle/notebooks/EvalNoiseModel.ipynb
  disentangle/notebooks/naturemethods/care_liver_visualizer.ipynb
  disentangle/notebooks/naturemethods/care_zebrafish_visualizer.ipynb
  disentangle/notebooks/puncta_removal_dataloader.ipynb
  disentangle/scripts/evaluate.py
Due: isort, jupyter-nb-clear-output

care3D config update
  disentangle/configs/care3D_config.py
Due: isort

nicola datageneration
  disentangle/notebooks/diffSplitDataGeneration/nicola_datageneration.ipynb
Due: jupyter-nb-clear-output

segmentation results notebook updates
  disentangle/notebooks/naturemethods/segmentation_results_3analyst_D18.ipynb
  disentangle/notebooks/naturemethods/segmentation_results_3analyst_D21.ipynb
  disentangle/notebooks/naturemethods/segmentation_results_3analyst_Dao3channel.ipynb
Due: jupyter-nb-clear-output

segmentation results with analysts
  disentangle/notebooks/naturemethods/segmentation_patchification.ipynb
  disentangle/notebooks/naturemethods/segmentation_results_1analyst_D18.ipynb
  disentangle/notebooks/naturemethods/segmentation_results_3analyst_D21.ipynb
  disentangle/notebooks/naturemethods/segmentation_results_3analyst_Dao3channel.ipynb
  disentangle/scripts/evaluate.py
  disentangle/scripts/segmentation_patchification_for_crowdsourcing.py
Due: isort, jupyter-nb-clear-output

a better assert statement
  disentangle/nets/lvae.py
Due: isort

notebook update
  disentangle/notebooks/naturemethods/segmentation_results_1analyst_D18.ipynb
  disentangle/notebooks/naturemethods/segmentation_results_3analyst_D21.ipynb
  disentangle/notebooks/naturemethods/segmentation_results_3analyst_Dao3channel.ipynb
Due: jupyter-nb-clear-output

evaluate.py
  disentangle/scripts/evaluate.py
Due: isort

common analyst annotation
  disentangle/notebooks/naturemethods/segmentation_results_1analyst_common_annotation.ipynb
Due: jupyter-nb-clear-output

dao config update
  disentangle/configs/dao3ch_config.py
Due: isort

config update
  disentangle/configs/dao_withinput_config.py
Due: isort

taverna config update
  disentangle/configs/sox2golgi_v2_config.py
Due: isort

new notebook
  disentangle/notebooks/naturemethods/TavernaTrainedOn1EvaluateOn2.ipynb
Due: jupyter-nb-clear-output

config update
  disentangle/configs/pavia3_config.py
Due: isort

making calibration work with list based datasets
  disentangle/scripts/evaluate.py
Due: isort

segmentation figure notebook
  disentangle/notebooks/naturemethods/segmentation_results_3analyst.ipynb
Due: jupyter-nb-clear-output

naturemethods
  disentangle/notebooks/naturemethods/calibration_plots.ipynb
  disentangle/notebooks/naturemethods/puncta_evaluation.ipynb
  disentangle/notebooks/naturemethods/segmentation_results_1analyst_D18.ipynb
  disentangle/notebooks/naturemethods/segmentation_results_3analyst.ipynb
  disentangle/notebooks/naturemethods/segmentation_results_3analyst_D21.ipynb
  disentangle/notebooks/naturemethods/segmentation_results_3analyst_Dao3channel.ipynb
Due: jupyter-nb-clear-output

four channel splitting update
  disentangle/notebooks/naturemethods/four_splitting_V2.ipynb
  disentangle/notebooks/naturemethods/inset_nikola_histogram.ipynb
Due: jupyter-nb-clear-output

Path conditions:
  isort: any of: \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
