Repository ashesh-0/Disentangle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, jupyter-nb-clear-output

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
     - id: isort
       name: isort
       description: "Sorting imports."
       entry: isort
       language: python
       types: [python]
     
     - id: jupyter-nb-clear-output
       name: jupyter-nb-clear-output
       files: \.ipynb$
       stages: [commit]
       language: system
       entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

config update
  disentangle/configs/puncta_removal_config.py
  disentangle/notebooks/puncta_evaluation.ipynb
Due: isort, jupyter-nb-clear-output

config update
  disentangle/configs/puncta_removal_config.py
  disentangle/data_loader/evaluation_dloader.py
  disentangle/notebooks/puncta_evaluation.ipynb
Due: isort, jupyter-nb-clear-output

config update
  disentangle/configs/puncta_removal_config.py
Due: isort

README update
  README.md
  disentangle/notebooks/EvalNoiseModel.ipynb
  disentangle/utils.py
Due: isort, jupyter-nb-clear-output

puncta evaluation
  disentangle/notebooks/naturemethods/puncta_evaluation.ipynb
Due: jupyter-nb-clear-output

elisa3D
  disentangle/core/data_type.py
  disentangle/data_loader/elisa3D_rawdata_loader.py
  disentangle/notebooks/Elisa3D_data.ipynb
  disentangle/notebooks/Elisa_puncta_DIFdata.ipynb
Due: isort, jupyter-nb-clear-output

elisa config
  disentangle/configs/elisa3D_config.py
  disentangle/core/stochastic.py
  disentangle/data_loader/elisa3D_rawdata_loader.py
  disentangle/data_loader/train_val_data.py
  disentangle/data_loader/vanilla_dloader.py
  disentangle/nets/lvae.py
  disentangle/notebooks/Elisa3D_data.ipynb
  disentangle/training.py
Due: isort, jupyter-nb-clear-output

config update
  disentangle/configs/elisa3D_config.py
Due: isort

lvae handling 2D decoder
  disentangle/nets/lvae.py
Due: isort

fix 2D decoder setup
  disentangle/nets/lvae.py
Due: isort

fixed a bug with sigle z model
  disentangle/data_loader/vanilla_dloader.py
  disentangle/nets/lvae.py
Due: isort

a generic patch index manager written
  disentangle/data_loader/patch_index_manager_v2.py
Due: isort

fixed it
  disentangle/core/empty_patch_fetcher.py
  disentangle/data_loader/patch_index_manager_v2.py
  disentangle/data_loader/vanilla_dloader.py
Due: isort

stitching working with 3D now
  disentangle/analysis/stitch_prediction.py
  disentangle/data_loader/vanilla_dloader.py
  disentangle/notebooks/Elisa3D_dloader.ipynb
  disentangle/notebooks/nb_core/disentangle_setup.ipynb
Due: isort, jupyter-nb-clear-output

lc multich dloader
  disentangle/data_loader/lc_multich_dloader.py
Due: isort

trim_boundary integration done
  disentangle/data_loader/lc_multich_dloader.py
  disentangle/data_loader/multifile_dset.py
  disentangle/data_loader/vanilla_dloader.py
Due: isort

evaluate now working
  disentangle/data_loader/vanilla_dloader.py
  disentangle/scripts/evaluate.py
  disentangle/scripts/evaluate_sequentially.py
Due: isort

config update
  disentangle/configs/elisa3D_config.py
  disentangle/notebooks/EvalNoiseModel.ipynb
  disentangle/notebooks/EvalOnWholeFrames.ipynb
  disentangle/notebooks/EvaluateElisa3D.ipynb
  disentangle/scripts/evaluate.py
Due: isort, jupyter-nb-clear-output

fix
  disentangle/data_loader/vanilla_dloader.py
Due: isort

bug fix rotation
  disentangle/configs/elisa3D_config.py
  disentangle/data_loader/vanilla_dloader.py
Due: isort

update in training.py
  disentangle/training.py
Due: isort

microSSIM notebook
  disentangle/notebooks/optimal_scale_for_ssim.ipynb
Due: jupyter-nb-clear-output

removed old patch index manager
  disentangle/data_loader/patch_index_manager.py
  disentangle/data_loader/patch_index_manager_v2.py
Due: isort

shift boundary
  disentangle/analysis/stitch_prediction.py
  disentangle/data_loader/lc_multich_dloader.py
  disentangle/data_loader/multifile_dset.py
  disentangle/data_loader/patch_index_manager.py
  disentangle/data_loader/vanilla_dloader.py
  disentangle/tests/analysis/test_stitch_prediction.py
Due: isort

disabling tiling along z
  disentangle/data_loader/vanilla_dloader.py
Due: isort

trim_boundary removed
  disentangle/configs/elisa3D_config.py
  disentangle/data_loader/evaluation_dloader.py
  disentangle/data_loader/lc_multich_dloader.py
  disentangle/data_loader/multicrops_dset.py
  disentangle/data_loader/single_channel/multi_dataset_dloader.py
  disentangle/data_loader/two_dset_dloader.py
  disentangle/data_loader/vanilla_dloader.py
  disentangle/scripts/evaluate.py
Due: isort

config updated
  disentangle/configs/elisa3D_config.py
Due: isort

grid_size incorporate z as well now
  disentangle/analysis/results_handler.py
  disentangle/data_loader/vanilla_dloader.py
  disentangle/scripts/evaluate.py
Due: isort

2D training mode for 3D data
  disentangle/configs/elisa3D_config.py
  disentangle/data_loader/vanilla_dloader.py
Due: isort

LC enabled
  disentangle/configs/elisa3D_config.py
  disentangle/data_loader/lc_multich_dloader.py
  disentangle/data_loader/vanilla_dloader.py
Due: isort

LC enabled
  disentangle/configs/elisa3D_config.py
Due: isort

lean-LC enabled
  disentangle/configs/elisa3D_config.py
Due: isort

MicroSSIM integrated
  disentangle/core/ssim.py
  disentangle/notebooks/EvalOnWholeFrames.ipynb
  disentangle/notebooks/nb_core/disentangle_setup.ipynb
  disentangle/scripts/evaluate.py
Due: isort, jupyter-nb-clear-output

exansion microscopy now getting trained through 3D way
  disentangle/configs/expansion_micro_config.py
  disentangle/core/data_type.py
  disentangle/data_loader/exp_microscopy_rawdata_loader.py
  disentangle/data_loader/exp_microscopyv2_rawdata_loader.py
  disentangle/data_loader/multifile_dset.py
  disentangle/data_loader/train_val_data.py
  disentangle/data_loader/vanilla_dloader.py
  disentangle/notebooks/EvalNoiseModel.ipynb
  disentangle/scripts/evaluate.py
  disentangle/training.py
Due: isort, jupyter-nb-clear-output
