Repository ashesh-0/Disentangle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, jupyter-nb-clear-output

isort:
  name: isort
  description: Sorting imports.
  entry: isort
  language: python

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

hhmi related changes
  disentangle/configs/hhmi_v2_config.py
  disentangle/configs/hhmi_v3_config.py
  disentangle/nets/lvae.py
  disentangle/notebooks/EvalNoiseModel.ipynb
  disentangle/notebooks/HHMI25_visualization.ipynb
  disentangle/notebooks/naturemethods/HHMI_v3_visualize.ipynb
Due: isort, jupyter-nb-clear-output

snr
  disentangle/configs/hhmi_v2_config.py
  disentangle/configs/hhmi_v3_config.py
  disentangle/notebooks/naturemethods/snr_experiment.ipynb
Due: isort, jupyter-nb-clear-output

coverage plot
  disentangle/analysis/poserior_sampling_predictor.py
  disentangle/notebooks/CalibrationCoverage.ipynb
  disentangle/notebooks/CoveragePlotWithAugmentation.ipynb
Due: isort, jupyter-nb-clear-output

coverageplot with aug
  disentangle/notebooks/CoveragePlotWithAugmentation.ipynb
Due: jupyter-nb-clear-output

config update
  disentangle/configs/old_configs/sox2golgi_v2_config.py
Due: isort

coverageplot update
  disentangle/notebooks/CoveragePlotWithAugmentation.ipynb
Due: jupyter-nb-clear-output

hhmi update
  disentangle/configs/hhmi_config.py
  disentangle/configs/hhmi_v2_config.py
  disentangle/data_loader/hhmi_v2_raw_dloader.py
  disentangle/notebooks/EvalNoiseModel.ipynb
  disentangle/notebooks/EvalOnWholeFrames.ipynb
  disentangle/notebooks/naturemethods/HHMI_v2_visualize.ipynb
  disentangle/scripts/evaluate.py
Due: isort, jupyter-nb-clear-output

evaluate.py update
  disentangle/scripts/evaluate.py
Due: isort

sox2golgi
  disentangle/configs/old_configs/sox2golgi_v2_config.py
Due: isort

SNR
  disentangle/notebooks/naturemethods/snr_quantification.ipynb
  disentangle/scripts/evaluate.py
Due: isort, jupyter-nb-clear-output

denoiSplit
  disentangle/configs/old_configs/sox2golgi_v2_config.py
Due: isort

usplit integrated
  disentangle/analysis/poserior_sampling_predictor.py
  disentangle/notebooks/CoveragePlotWithAugmentation.ipynb
Due: isort, jupyter-nb-clear-output

HHMI related notebook changes
  disentangle/notebooks/naturemethods/HHMI_v2_synthetic_noise.ipynb
  disentangle/notebooks/naturemethods/HHMI_v2_visualize.ipynb
  disentangle/scripts/evaluate.py
Due: isort, jupyter-nb-clear-output

LC based setup now working
  disentangle/analysis/poserior_sampling_predictor.py
  disentangle/notebooks/CoveragePlotWithAugmentation.ipynb
Due: isort, jupyter-nb-clear-output

coverage plot now works with LC
  disentangle/notebooks/CoveragePlotWithAugmentation.ipynb
Due: jupyter-nb-clear-output

import updated
  disentangle/notebooks/CoveragePlotWithAugmentation.ipynb
Due: jupyter-nb-clear-output

synthetic noise
  disentangle/notebooks/naturemethods/HHMI_v2_synthetic_noise.ipynb
Due: jupyter-nb-clear-output

hhmi
  disentangle/configs/hhmi_config.py
  disentangle/configs/hhmi_v2_config.py
  disentangle/data_loader/vanilla_dloader.py
Due: isort

notebook update
  disentangle/notebooks/naturemethods/HHMI_v2_synthetic_noise.ipynb
  disentangle/notebooks/naturemethods/inspect_pred_tifs.ipynb
  disentangle/scripts/evaluate.py
Due: isort, jupyter-nb-clear-output

notebook update
  disentangle/configs/hhmi_config.py
  disentangle/configs/hhmi_v2_config.py
  disentangle/notebooks/naturemethods/HHMI/HHMI_datacreation_blurring.ipynb
  disentangle/notebooks/naturemethods/HHMI/HHMI_discretize.ipynb
  disentangle/notebooks/naturemethods/HHMI/HHMI_v2_synthetic_noise.ipynb
  disentangle/notebooks/naturemethods/HHMI/HHMI_v2_visualize.ipynb
  disentangle/notebooks/naturemethods/HHMI/HHMI_v3_visualize.ipynb
  disentangle/notebooks/naturemethods/HHMI/hhmi_eval.ipynb
  disentangle/notebooks/naturemethods/four_splitting_V2.ipynb
  disentangle/notebooks/naturemethods/inspect_pred_tifs.ipynb
  disentangle/notebooks/naturemethods/three_splitting_V2.ipynb
  disentangle/notebooks/naturemethods/two_splitting_V2.ipynb
  disentangle/scripts/evaluate.py
Due: isort, jupyter-nb-clear-output

evaluate.py
  disentangle/scripts/evaluate.py
Due: isort

naturemethods related changes. rebuttal done
  disentangle/notebooks/EvalNoiseModel.ipynb
  disentangle/notebooks/__init__.py
  disentangle/notebooks/naturemethods/HHMI/hhmi16bit_eval.ipynb
  disentangle/notebooks/naturemethods/__init__.py
  disentangle/notebooks/naturemethods/four_splitting_V2.ipynb
  disentangle/notebooks/naturemethods/splitting_notebooks_utils.py
  disentangle/notebooks/naturemethods/three_splitting_V2.ipynb
  disentangle/notebooks/naturemethods/two_splitting_V2.ipynb
  disentangle/scripts/evaluate.py
Due: isort, jupyter-nb-clear-output

moved posterior sampling predictor to finetunesplit
  disentangle/analysis/poserior_sampling_predictor.py
Due: isort

posterior sampler
  disentangle/notebooks/CoveragePlotWithAugmentation.ipynb
Due: jupyter-nb-clear-output

coverageplots
  disentangle/notebooks/CoveragePlotWithAugmentation_1.ipynb
Due: jupyter-nb-clear-output

removed calibration coverage
  disentangle/analysis/calibration_coverage.py
Due: isort

calibration coverage moved to finetunesplit
  disentangle/analysis/calibration_coverage_grid_search.py
Due: isort

notebook updates
  disentangle/notebooks/CoveragePlotWithAugmentation.ipynb
  disentangle/notebooks/naturemethods/two_splitting_V2.ipynb
Due: jupyter-nb-clear-output

now, everything is working
  disentangle/notebooks/CoveragePlotWithAugmentation.ipynb
Due: jupyter-nb-clear-output

notebook evaluation fix
  disentangle/notebooks/evaluate_notebook.py
Due: isort

fixed notebooks
  disentangle/notebooks/CoveragePlotWithAugmentation.ipynb
  disentangle/notebooks/evaluate_notebook.py
Due: isort, jupyter-nb-clear-output

notebook update
  disentangle/notebooks/CoveragePlotWithAugmentation.ipynb
Due: jupyter-nb-clear-output

nikola config update
  disentangle/configs/nikola_config.py
Due: isort

nikola config
  disentangle/configs/nikola_denoisplit.py
  disentangle/configs/nikola_usplit.py
Due: isort

config update
  disentangle/configs/pavia3_denoisplit.py
Due: isort

handled config issues
  disentangle/notebooks/CoveragePlotWithAugmentation.ipynb
  disentangle/scripts/add_back_config.py
  disentangle/scripts/run.py
Due: isort, jupyter-nb-clear-output

handled config issues
  disentangle/notebooks/CoveragePlotWithAugmentation.ipynb
Due: jupyter-nb-clear-output

different input target noise
  disentangle/configs/htt24_denoisplit.py
  disentangle/configs/pavia3_denoisplit.py
  disentangle/data_loader/nikola_7D_rawdata_loader.py
Due: isort

Path conditions:
  isort: any of: \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
