Repository ashesh-0/Disentangle: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, jupyter-nb-clear-output

isort:
  name: isort
  description: Sorting imports.
  entry: isort
  language: python

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

nikola fixed. now different noise levels can be combined
  disentangle/configs/nikola_denoisplit.py
  disentangle/data_loader/nikola_7D_rawdata_loader.py
Due: isort

coatnet encoder now working
  disentangle/nets/coatnet_encoder.py
  disentangle/nets/lvae_with_transformer.py
Due: isort

updated lvae with transformers
  disentangle/nets/coatnet_encoder.py
  disentangle/nets/lvae_with_transformer.py
Due: isort

transformer encoder now working
  disentangle/configs/nikola_with_transformer.py
  disentangle/core/model_type.py
  disentangle/nets/model_utils.py
Due: isort

config update
  disentangle/configs/nikola_with_transformer.py
Due: isort

coatnet encoder
  disentangle/nets/coatnet_encoder.py
Due: isort

notebook now working
  disentangle/notebooks/CoveragePlotWithAugmentation.ipynb
Due: jupyter-nb-clear-output

pavia now working
  disentangle/notebooks/CoveragePlotWithAugmentation.ipynb
Due: jupyter-nb-clear-output

updating evaluation.py and code for noise model generation
  disentangle/notebooks/noise_model_for_inputs.ipynb
  disentangle/scripts/evaluate.py
Due: isort, jupyter-nb-clear-output

added something to plot
  disentangle/nets/gmm_noise_model.py
Due: isort

added sampling in noise model
  disentangle/notebooks/CoveragePlotWithAugmentation.ipynb
  disentangle/notebooks/old_notebooks/EvalNoiseModel.ipynb
Due: jupyter-nb-clear-output

gmm noise model
  disentangle/nets/gmm_noise_model.py
Due: isort

noise model adding noise
  disentangle/notebooks/TestNoiseModelNoiseInjection.ipynb
Due: jupyter-nb-clear-output

temporary code
  disentangle/notebooks/TestNoiseModelNoiseInjection.ipynb
Due: jupyter-nb-clear-output

notebook
  disentangle/notebooks/CoveragePlotWithAugmentationWithNoise.ipynb
  installation.sh
Due: jupyter-nb-clear-output

temporary changes
  disentangle/analysis/forward_operator_parameters.py
  disentangle/notebooks/TestNoiseModelNoiseInjection.ipynb
Due: isort, jupyter-nb-clear-output

notebook update
  disentangle/notebooks/CoveragePlotWithAugmentationWithNoise.ipynb
Due: jupyter-nb-clear-output

.toml file
  pyproject.toml
Due: none

commiting uv lock
  pyproject.toml
  uv.lock
Due: none

coverageplots
  disentangle/notebooks/CoveragePlotWithAugmentationWithNoise.ipynb
Due: jupyter-nb-clear-output

working with noise
  disentangle/notebooks/CoveragePlotWithAugmentationWithNoiseAlternateLearning.ipynb
Due: jupyter-nb-clear-output

now, it is working
  disentangle/utils.py
  pyproject.toml
  uv.lock
Due: isort

pyproject installed
  pyproject.toml
  uv.lock
Due: none

pyproject update
  pyproject.toml
  uv.lock
Due: none

added a multifile dset
  disentangle/data_loader/multifile_dset.py
Due: isort

notebook update
  disentangle/notebooks/CoveragePlotWithAugmentation.ipynb
Due: jupyter-nb-clear-output

notebook update
  disentangle/notebooks/CoveragePlotWithAugmentationWithNoise.ipynb
  disentangle/scripts/coverage_plot_scripts.txt
Due: jupyter-nb-clear-output

coverage plot notebook
  disentangle/notebooks/CoveragePlotWithAugmentationWithNoise.ipynb
Due: jupyter-nb-clear-output

notebook working with offset based optimization
  disentangle/notebooks/CoveragePlotWithAugmentationWithNoise.ipynb
Due: jupyter-nb-clear-output

vae updated
  disentangle/nets/lvae.py
Due: isort

config update
  disentangle/configs/pavia3_denoisplit.py
Due: isort

config update
  disentangle/configs/htt24_denoisplit.py
Due: isort

Path conditions:
  isort: any of: \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
